# env template not have value on real project

# Server Configuration
PORT=3001

# Database Configuration
DB_NAME=resources.db

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH="$2b$10$5Yzfze6vLvdTzA2ZFguu5.UcsPdT5xJ3TA262e/uKu7W7/AiqsZBy"

JWT_SECRET="your-secret-key"